$grey: #d7b19d;
$headingcolor: rgb(68, 64, 64);
$red: hsl(60, 1%, 21%);
$lightred: #e4462a;
$inputcolor: #6f4c5b;
$white: #fff;
$box: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
